body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
}



#resultSection {
    display: none; /* Inicialmente, esconde a seção de resultados */
    margin-top: 40px;
    border-top: 2px solid #ccc;
    padding-top: 20px;
}

#resultSection div {
    margin-bottom: 15px;
}
